.card {
  display: flex;
  flex-direction: column;
  position: relative;
}

.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 10px;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
  font-style: medium;
  font-size: 20px;
}

.card__title {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  font-size: 20px;
}

.card__like-btn {
  background-image: url(../images/State=Default.svg);
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 40%;
}

.card__like-btn:hover {
  opacity: 1;
}

.card__like-btn_active {
  background-image: url(../images/State=Liked.svg);
  opacity: 1;
}

.card__like-btn_active:hover {
  opacity: 0.4;
  transform: scale(1.15);
  cursor: pointer;
}

.card__delete-btn {
  width: 32px;
  height: 32px;
  position: absolute;
  top: 10px;
  right: 10px;
  background-image: url("../images/delete-icon.svg");
  background-size: cover;
  background-repeat: no-repeat;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.card__delete-btn:hover {
  opacity: 0.4;
  cursor: pointer;
  background-image: url(../images/State=Hover.svg);
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
  }
}
