.modal {
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10%;
  opacity: 0;
  visibility: hidden;
  transform: scale(0.95);
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease;
}

.modal_type_preview {
  padding: 0 16px;
}

.modal_is-opened {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}

.modal__container {
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
  padding: 32px 50px;
  position: relative;
  transform: translateY(-20px);
  transition: transform 0.3s ease;
}

.modal__close-btn {
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  background-image: url("../images/Close%20button.svg");
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: none;
  cursor: pointer;
  filter: brightness(1000%) saturate(0%);
  opacity: 1;
  transition: filter 0.2s ease, opacity 0.2s ease;
}

.modal__close-btn:hover {
  filter: brightness(70%) saturate(0%);
  opacity: 0.9;
}

.modal__close-btn_type_preview {
  top: 0;
  right: -52.5px;
}

.modal__title {
  margin: 0 0 32px;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
  margin: 0 0 32px;
}

.modal__input {
  display: block;
  margin: 8px 0 0;
  width: 95%;
  padding-top: 16px;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 16px;
  border-radius: 5px;
}

.modal__input::placeholder {
  opacity: 100%;
  font-weight: 500;
  font-style: Medium;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
}

.modal__submit-btn {
  max-width: none;
  width: 156px;
  height: 52px;
  padding-top: 18px;
  padding-right: 32px;
  padding-bottom: 18px;
  padding-left: 32px;
  gap: 8px;
  border-radius: 8px;
  color: #fff;
  background-color: #212121;
}

.modal__submit-btn:hover {
  opacity: 90%;
  cursor: pointer;
}

.modal__image-container {
  position: relative;
}

.modal__image {
  max-width: 80vw;
  max-height: 80vh;
  width: 100%;
  object-fit: contain;
  display: block;
  border-radius: 8px;
}

.modal__caption {
  font-family: Poppins;
  font-weight: 500;
  font-style: Medium;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0%;
  color: #fff;
  background-color: #212121;
  display: inline-block;
  width: 214;
  height: 32;
  top: 750px;
  left: 223px;
  opacity: 1;
  border-radius: 8px;
  padding-top: 4px;
  padding-right: 8px;
  padding-bottom: 4px;
  padding-left: 8px;
}

@media screen and (max-width: 627px) {
  .modal__close-btn_type_preview {
    top: -48px;
    right: 0;
  }
}

@media screen and (max-width: 480px) {
  .modal__container {
    padding: 22px 12px 12px;
  }

  .modal__title {
    font-size: 20px;
  }

  .modal__close-btn {
    top: 22px;
    right: 12px;
  }

  .modal__form {
    margin-top: 34px;
  }

  .modal__input {
    font-size: 16px;
    margin-bottom: 24px;
  }
  .modal__close-btn {
    max-width: none;
  }

  @media screen and (max-width: 627px) {
    .modal__close-btn_type_preview {
      top: -48px;
      right: 0;
    }

    .modal__image {
      max-width: unset;
    }
  }
}
