.modal {
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10%;
  opacity: 0;
  visibility: hidden;
  transform: scale(0.95);
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease;
}

.modal_is-opened {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}

.modal__container {
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
  padding: 32px 50px;
  position: relative;
  transform: translateY(-20px);
  transition: transform 0.3s ease;
}

.modal__close-btn {
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  opacity: 30%;
  background-color: #fff;
  border: none;
}

.modal__close-btn:hover {
  opacity: 20%;
  cursor: pointer;
  transform: scale(1.15);
}

.modal__title {
  margin: 0 0 32px;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
  margin: 0 0 32px;
}

.modal__input {
  display: block;
  margin: 8px 0 0;
  width: 95%;
  padding-top: 16px;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 16px;
  border-radius: 5px;
}

.modal__input::placeholder {
  opacity: 100%;
  font-weight: 500;
  font-style: Medium;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
}

.modal__submit-btn {
  max-width: none;
  width: 156px;
  height: 52px;
  padding-top: 18px;
  padding-right: 32px;
  padding-bottom: 18px;
  padding-left: 32px;
  gap: 8px;
  border-radius: 8px;
  color: #fff;
  background-color: #212121;
}

.modal__submit-btn:hover {
  opacity: 90%;
  cursor: pointer;
}
